
/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	color: white;
	font-family: Myriad Pro;

}


/*#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
} */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    /*height: 836px;
    min-height: 836px;*/
  }
}

header {
  background: url("../images/header.png") no-repeat 0% 0%/100% auto;

}

.logo {
 background: url("../images/Miekki_logo_whight.png") no-repeat;
 margin-top: 46px;
 height: 100px;
 /*width: 322px;
 height: 102px;*/
}
.header-block {
	margin-top: 130px;
	font-family: 'Open sans' sans-serif;
    line-height: 25px;
    font-size: 18px;
}

.header-block h1{
    font-size: 53pt;
    width: 1200px;
}
.header-block li {
    list-style-type: none; /* Убираем маркеры у списка */

   }

.header-block li:before {
    content: ">";

}

.header_btn {
    margin: 110px 0 0 0;
}

.navbar {
	background-color: #31d4e7;
	height: 65px;

}
.navbar-brand {
	height: 65px;
	padding: 0;
}

.nav {
    margin-right: 40px;
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    text-decoration: underline;
}

.features {
	background-color: #ffffff;
    color: #282528;
}

.fa-laptop {
    background-image: url(../images/ico_music.png);
    }


.gallery {
	background-color: #becc5c;
	height: 1000px;

}

.video {
	background-color: #f8e514;
	height: 600px;

}

.creators {
	background-color: #5f5f5f;
	height: 900px;

}

.quotes {
	background-color: #f9461c;
	height: 900px;

}

.partners {
	background-color: #5da1a9;
	height: 600px;

}

.contact {
	background-color: #f9461c;
	height: 900px;

}

footer {
	background-color: #ffffff;
	height: 112px;

}
